<!--suppress ALL-->
<footer class="bg-baseBlue px-10 lg:px-40 pt-24 grid grid-flow-row font-sans text-white">
  <div class="grid grid-cols-1 gap-y-10 lg:grid-cols-2 lg:gap-x-20 mb-16">
    <div>
          <div class="bg-white/10 w-fit px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm mb-4">Contact
          </div>
      <p class="text-4xl mb-1">Get in touch with us</p>
      <p class="text-base font-normal mb-8">Fill out our contact form to connect with our dedicated team and discover personalized solutions for your business needs.</p>
      <div class="grid grid-rows-3 gap-y-7 text-sm font-medium	leading-5">
        <div class="flex items-center gap-x-4 whitespace-nowrap"><img src="assets/icons/clock.svg " alt="clock" loading="lazy"/> Mon - Sat 09:00 - 18:00
          <br>Sunday Closed
        </div>
        <div class="flex items-center gap-x-4 whitespace-nowrap"><img src="assets/icons/email.svg" alt="email" loading="lazy"/> Email
          <br>xakaservices@outlook.com
        </div>
        <div class="flex items-center gap-x-4 whitespace-nowrap"><img src="assets/icons/call.svg" alt="call" loading="lazy"/> Call Us
          <br>+27 68 365 1420
        </div>
      </div>
    </div>
    <div>
      <form [formGroup]="contactForm" action="#" class="space-y-8">
        <div class="flex flex-col lg:flex-row gap-7 mb-4">
          <div class="flex-1">
            <label for="from_name" class="block mb-2 text-l font-normal text-white">Full Name*</label>
            <input type="text" id="from_name" formControlName="name" class="bg-baseBlue border-borderBlue border-2 text-white text-lg block w-full p-2.5 dark:placeholder-gray-400" placeholder="John Doe" required>
            <div *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].dirty || contactForm.controls['name'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
              This field is required.
            </div>
          </div>
          <div class="flex-1">
            <label for="email" class="block mb-2 text-l font-normal text-white">Email Address*</label>
            <input type="email" id="email" formControlName="email" class="bg-baseBlue border-borderBlue border-2 text-white text-l block w-full p-2.5 dark:placeholder-gray-40" placeholder="email@domain.com" required>
            <div *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].dirty || contactForm.controls['email'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
              This field is required.
            </div>
          </div>
        </div>
        <div class="flex flex-col lg:flex-row gap-7 mb-4">
          <div class="flex-1">
          <label for="phone" class="block mb-2 text-l font-normal text-white">Phone Number*</label>
          <input (keypress)="numberOnly($event)" type="text" id="phone" class="bg-baseBlue border-borderBlue border-2 text-white text-l block w-full p-2.5 dark:placeholder-gray-40" placeholder="072 918 1895" required>
            <div *ngIf="contactForm.controls['phone'].invalid && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
              This field is required.
            </div>
            <div *ngIf="contactForm.controls['phone'].value.length !== 10 && (contactForm.controls['phone'].dirty || contactForm.controls['phone'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
              Maximum 10 digits.
            </div>
        </div>
          <div class="flex-1">
          <label for="subject" class="block mb-2 text-l font-normal text-white">Subject</label>
          <input type="text" id="subject" class="bg-baseBlue border-borderBlue border-2 text-white text-l block w-full p-2.5 dark:placeholder-gray-40" placeholder="Let us know how we can help you" required>
        </div>
        </div>
        <div class="sm:col-span-2 mb-16">
          <label for="message" class="block mb-2 text-l font-normal text-white">Your message*</label>
          <textarea id="message" formControlName="message" rows="6" class="bg-baseBlue border-borderBlue border-2 text-white text-l block w-full p-2.5 dark:placeholder-gray-40" placeholder="Leave a message..."></textarea>
          <div *ngIf="contactForm.controls['message'].value.length > 300 && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
            Maximum 300 characters.
          </div>
          <div *ngIf="contactForm.controls['message'].value.length <= 300 && contactForm.controls['message'].invalid && (contactForm.controls['message'].dirty || contactForm.controls['message'].touched)" class="pt-2 mb-4 text-sm text-red-400" role="alert">
            This field is required.
          </div>
        </div>
        <div class="mt-8">
        <app-button class="mb-8" [label]="'Submit Messsage'" (click)="sendEmail()"></app-button>
        </div>
      </form>
    </div>
  </div>
  <div class="flex flex-col items-center gap-y-4 md:gap-x-4 md:flex-row lg:justify-between">
    <div class="relative bg-[url('assets/l7-background.jpg')] bg-cover  w-36 h-28 lg:w-60 lg:h-40 xl:w-72 xl:h-56">
      <div class="w-full h-full bg-white20pc px-8">
        <img class="absolute top-10 lg:top-14 xl:top-20 left-0" src="assets/L7-logo.png" loading="lazy"/>
      </div>
    </div>
    <div class="relative bg-[url('assets/grain-carriers-background.jpg')] bg-cover w-36 h-28 lg:w-60 lg:h-40 xl:w-72 xl:h-56">
      <div class="w-full h-full bg-white20pc px-8">
        <img class="absolute top-10 lg:top-16 xl:top-20 left-0" src="assets/grain-carriers-logo.png" loading="lazy"/>
      </div>
    </div>
    <div class="relative bg-[url('assets/medicos-background.jpg')] bg-cover w-36 h-28 lg:w-60 lg:h-40 xl:w-72 xl:h-56">
      <div class="w-full h-full bg-white20pc px-8">
        <img class="absolute top-10 left-0 lg:top-14 lg:left-2 xl:top-24 xl:left-8" src="assets/medicos-logo.svg" loading="lazy"/>
      </div>
    </div>
  </div>
  <hr class="mt-2.5">
  <div class="flex flex-col gap-y-4 w-full mx-auto max-w-screen-xl p-4 lg:flex-row lg:items-center md:justify-between font-serif h-fit">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">Copyright © 2023 - <a href="/home" class="hover:underline">Xaka Transport and Logistics™</a>. All Rights Reserved.
    </span>
    <ul class="flex flex-wrap flex-row items-center mt-3 text-sm font-normal text-gray-500 dark:text-gray-400 sm:mt-0">
      <li>
        <a routerLink="" class="mr-4 hover:underline md:mr-6">Home</a>
      </li>
      <li>
        <a routerLink="/services" class="mr-4 hover:underline md:mr-6">Services</a>
      </li>
      <li>
        <a routerLink="/blog" class="mr-4 hover:underline md:mr-6">Blog</a>
      </li>
    </ul>
  </div>
</footer>
