.line-under {
  position: relative;
}

.line-under::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  border-radius: 9999px;
  opacity: 0;
  transition: all 0.3s ease-out;
  background-color: rgb(31 41 55);
}

.line-under:hover::before {
  width: 100%;
  opacity: 1;
}
