<!--<div class="relative mx-4 h-screen flex flex-col items-center justify-center text-center text-white bg-cover bg-center"-->
<!--     style="background-image:url('assets/freeway.jpg')">-->
<!--  <div class="absolute top-0 right-0 bottom-0 left-0 bg-gray-900 opacity-20"></div>-->

<!--  <div class="text-4xl md:text-6xl text-white font-bold font-serif mb-8 z-10">-->
<!--    COMING SOON-->
<!--  </div>-->

<!--  <div class="flex items-end justify-center z-10">-->
<!--    <div class="m-2 sm:m-5">-->
<!--      <span class="text-white font-bold text-xl sm:text-5xl">{{daysToDday}}</span>-->
<!--      <p class="text-white">Days</p>-->
<!--    </div>-->
<!--    <div class="m-2 sm:m-5">-->
<!--      <span class="text-white font-bold text-xl sm:text-5xl">{{hoursToDday}}</span>-->
<!--      <p class="text-white">Hours</p>-->
<!--    </div>-->
<!--    <div class="m-2 sm:m-5">-->
<!--      <span class="text-white font-bold text-xl sm:text-5xl">{{minutesToDday}}</span>-->
<!--      <p class="text-white">Minutes</p>-->
<!--    </div>-->
<!--    <div class="m-2 sm:m-5">-->
<!--      <span class="text-white font-bold text-xl sm:text-5xl">{{secondsToDday}}</span>-->
<!--      <p class="text-white">Seconds</p>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="shadow z-10 mt-5">-->
<!--    <button type="submit" class="py-3 px-8 w-full text-base leading-6 font-normal text-center text-slate-100 rounded-full bg-gray-900 sm:w-fit transition ease-in-out delay-150 hover:bg-gray-600 hover:-translate-y-1 hover:scale-105 duration-300">Who Are We?</button>-->
<!--  </div>-->


<!--</div>-->


<!--<div class="h-screen w-screen relative">-->
<!--  <video class="h-screen w-screen relative" autoplay loop muted>-->
<!--    <source src="assets/container-terminal.mp4" type="video/mp4">-->
<!--    Your browser does not support the video tag.-->
<!--  </video>-->
<!--  <div class=" absolute text-4xl md:text-6xl text-baseBlue font-bold font-serif mb-8 z-10">-->
<!--    COMING SOON-->
<!--  </div>-->
<!--</div>-->

<section  class="flex items-center justify-center h-screen -mt-22">
  <div
    class="absolute text-4xl text-baseBlue font-bold font-serif z-30 -mt-32"
  >
        COMING SOON
  </div>
    <div class="absolute flex items-end justify-center z-10">
      <div class="m-2 sm:m-5">
        <span class="text-white font-bold text-xl sm:text-5xl">{{daysToDday}}</span>
        <p class="text-white">Days</p>
      </div>
      <div class="m-2 sm:m-5">
        <span class="text-white font-bold text-xl sm:text-5xl">{{hoursToDday}}</span>
        <p class="text-white">Hours</p>
      </div>
      <div class="m-2 sm:m-5">
        <span class="text-white font-bold text-xl sm:text-5xl">{{minutesToDday}}</span>
        <p class="text-white">Minutes</p>
      </div>
      <div class="m-2 sm:m-5">
        <span class="text-white font-bold text-xl sm:text-5xl">{{secondsToDday}}</span>
        <p class="text-white">Seconds</p>
      </div>
    </div>
  <video
    autoplay
    loop
    muted
    class="w-auto min-w-full min-h-full max-w-none left-0"
  >
    <source
      src="assets/container-terminal.mp4"
      type="video/mp4"
    />
    Your browser does not support the video tag.
  </video>
</section>

