<section class="top-0 -mt-88 font-serif">

  <div class="bg-[url('assets/harbour.png')] bg-cover bg-left-bottom h-96">
  <div class="w-full h-full bg-gradient-to-r from-baseBlue via-blue50 to-blue0  px-16 xl:px-72 py-5">
    <div class="bg-tagBlue w-fit px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm text-white mb-4 mt-44">Services
    </div>
    <p class="text-2xl md:text-4xl text-white">Our Logistics Services</p>
  </div>
  </div>
</section>

<div class="relative bg-white overflow-hidden font-serif">
  <div class="pt-0 pb-8 lg:pt-24 xl:pt-40 lg:pb-48">
    <div class="relative mx-auto px-4 sm:px-10 lg:px-36 xl:px-56 sm:static">
<!--      <div class="sm:max-w-lg animate__animated animate__fadeInLeft">-->
      <div class="sm:max-w-full lg:max-w-lg">
        <div class="flex justify-center lg:justify-start mb-4">
          <p class="w-fit bg-tagGray px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm mb-4 mt-8 lg:mt-32">What do we do</p>
        </div>
        <h1 class="text-center text-2xl md:text-3xl font-extrabold text-textPrimary lg:text-start">Our Services</h1>
        <p class="text-center mt-4 text-sm md:text-base text-textSecondary lg:text-start">
          We specialize in delivering efficient and dependable transport and logistics services. Our extensive fleet comprises well-maintained trucks, vans, and trailers, ensuring optimal performance at all times. Our team of experienced and knowledgeable drivers undergo rigorous training and possess the necessary certifications to operate our vehicles safely.</p>
        <p class="text-center mt-4 text-sm md:text-base text-textSecondary lg:text-start"> We specialize in delivering efficient and dependable transport and logistics services. Our extensive fleet comprises well-maintained trucks, vans, and trailers, ensuring optimal performance at all times. Our team of experienced and knowledgeable drivers undergo rigorous training and possess the necessary certifications to operate our vehicles safely.</p>
      </div>
      <div>
        <div class="hidden mt-10 lg:block">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8 animate__animated animate__fadeInDown">
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                    <img src="assets/8.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden">
                    <img src="../../../assets/warehouse-and-distribution.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8  animate__animated animate__fadeInUp">
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden">
                    <img src="assets/12.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-20 h-32 lg:w-44 lg:h-64rounded-lg overflow-hidden">
                    <img src="assets/11.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden">
                    <img src="assets/5.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8  animate__animated animate__fadeInDown">
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden">
                    <img src="assets/2.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-20 h-32 lg:w-44 lg:h-64 rounded-lg overflow-hidden">
                    <img src="assets/13.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="bg-baseGray mx-4 font-serif">
    <div class="py-20 px-4 mx-auto max-w-screen-xl">
      <div class="grid grid-cols-1 space-y-8 gap-y-14 md:grid-cols-2 lg:grid-cols-2 gap-x-48 md:space-y-0">
        <div>
          <div class="w-12 h-12">
            <img src="assets/icons/freight-services.svg" alt="freight services"/>
          </div>
          <h3 class="text-2xl font-normal text-textPrimary mb-3">Freight Forwarding</h3>
          <p class="text-base text-textSecondary">We specialize in seamless freight forwarding, efficiently managing the transportation of goods across borders and modes of transport. Our dedicated team and global network ensure reliable service and streamlined logistics solutions.</p>
        </div>
        <div>
          <div class="w-10 h-10">
            <img src="assets/icons/warehouse-services.svg" alt="warehouse services"/>
          </div>
          <h3 class="text-2xl font-normal text-textPrimary mb-3">Warehousing & Distribution</h3>
          <p class="text-base text-textSecondary">Our warehousing and distribution services provide efficient storage solutions and seamless product distribution, ensuring timely delivery and optimized supply chain operations. With state-of-the-art facilities and a dedicated team, we prioritize accuracy, reliability, and customer satisfaction.</p>
        </div>
        <div>
          <div class=" w-10 h-10">
            <img src="assets/icons/consulting-services.svg" alt="consulting services"/>
          </div>
          <h3 class="text-2xl font-normal text-textPrimary mb-3">Logistics Consulting</h3>
          <p class="text-base text-textSecondary">
            Our logistics consulting services offer expert guidance and strategic insights to optimize supply chain efficiency and cost-effectiveness. We help businesses identify opportunities for improvement and implement tailored solutions for enhanced logistics performance.</p>
        </div>
        <div>
          <div class="mb-2 w-10 h-10">
            <img src="assets/icons/cleaning-services.svg" alt="outdoor cleaning services"/>
          </div>
          <h3 class="text-2xl font-normal text-textPrimary mb-3">Outdoor Cleaning</h3>
          <p class="text-base text-textSecondary">Our outdoor cleaning services provide comprehensive and professional cleaning solutions for a pristine and inviting outdoor environment. With advanced equipment and meticulous attention to detail, we ensure that your outdoor spaces are impeccably maintained and visually appealing.</p>
        </div>
      </div>
    </div>
  </section>
<!--<section class="py-40 px-80">-->
<!--  <div class="grid grid-cols-2">-->
<!--    <div class="bg-green-100">-->
<!--      <div class="flex justify-start mb-4">-->
<!--        <p class="w-fit bg-tagGray px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm mb-4 mt-32">FAQ</p>-->
<!--      </div>-->
<!--      <h1 class="text-3xl font-extrabold text-textPrimary mb-14">Frequently Asked Questions</h1>-->

<!--      <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">-->
<!--        <h2 id="accordion-flush-heading-1">-->
<!--          <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">-->
<!--            <span>What is Flowbite?</span>-->
<!--            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">-->
<!--              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">-->
<!--          <div class="py-5 border-b border-gray-200 dark:border-gray-700">-->
<!--            <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is an open-source library of interactive components built on top of Tailwind CSS including buttons, dropdowns, modals, navbars, and more.</p>-->
<!--            <p class="text-gray-500 dark:text-gray-400">Check out this guide to learn how to <a href="/docs/getting-started/introduction/" class="text-blue-600 dark:text-blue-500 hover:underline">get started</a> and start developing websites even faster with components on top of Tailwind CSS.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h2 id="accordion-flush-heading-2">-->
<!--          <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="false" aria-controls="accordion-flush-body-2">-->
<!--            <span>Is there a Figma file available?</span>-->
<!--            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">-->
<!--              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-2">-->
<!--          <div class="py-5 border-b border-gray-200 dark:border-gray-700">-->
<!--            <p class="mb-2 text-gray-500 dark:text-gray-400">Flowbite is first conceptualized and designed using the Figma software so everything you see in the library has a design equivalent in our Figma file.</p>-->
<!--            <p class="text-gray-500 dark:text-gray-400">Check out the <a href="https://flowbite.com/figma/" class="text-blue-600 dark:text-blue-500 hover:underline">Figma design system</a> based on the utility classes from Tailwind CSS and components from Flowbite.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <h2 id="accordion-flush-heading-3">-->
<!--          <button type="button" class="flex items-center justify-between w-full py-5 font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="false" aria-controls="accordion-flush-body-3">-->
<!--            <span>What are the differences between Flowbite and Tailwind UI?</span>-->
<!--            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">-->
<!--              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>-->
<!--            </svg>-->
<!--          </button>-->
<!--        </h2>-->
<!--        <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-3">-->
<!--          <div class="py-5 border-b border-gray-200 dark:border-gray-700">-->
<!--            <p class="mb-2 text-gray-500 dark:text-gray-400">The main difference is that the core components from Flowbite are open source under the MIT license, whereas Tailwind UI is a paid product. Another difference is that Flowbite relies on smaller and standalone components, whereas Tailwind UI offers sections of pages.</p>-->
<!--            <p class="mb-2 text-gray-500 dark:text-gray-400">However, we actually recommend using both Flowbite, Flowbite Pro, and even Tailwind UI as there is no technical reason stopping you from using the best of two worlds.</p>-->
<!--            <p class="mb-2 text-gray-500 dark:text-gray-400">Learn more about these technologies:</p>-->
<!--            <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">-->
<!--              <li><a href="https://flowbite.com/pro/" class="text-blue-600 dark:text-blue-500 hover:underline">Flowbite Pro</a></li>-->
<!--              <li><a href="https://tailwindui.com/" rel="nofollow" class="text-blue-600 dark:text-blue-500 hover:underline">Tailwind UI</a></li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="bg-yellow-500">-->
<!--      Test 2-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

