<div class="relative bg-white overflow-hidden">
  <div class="pt-16 pb-80 sm:pt-24 sm:pb-40 lg:pt-40 lg:pb-48">
    <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 sm:static">
      <div class="sm:max-w-lg animate__animated animate__fadeInLeft">
        <h1 class="text-4xl font font-extrabold tracking-tight text-gray-900 sm:text-6xl">Our Services</h1>
        <p class="mt-4 text-xl text-gray-500">
          We specialize in delivering efficient and dependable transport and logistics services. Our extensive fleet comprises well-maintained trucks, vans, and trailers, ensuring optimal performance at all times. Our team of experienced and knowledgeable drivers undergo rigorous training and possess the necessary certifications to operate our vehicles safely.</p>
        <p class="mt-4 text-xl text-gray-500"> We specialize in delivering efficient and dependable transport and logistics services. Our extensive fleet comprises well-maintained trucks, vans, and trailers, ensuring optimal performance at all times. Our team of experienced and knowledgeable drivers undergo rigorous training and possess the necessary certifications to operate our vehicles safely.</p>

      </div>
      <div>
        <div class="mt-10">
          <!-- Decorative image grid -->
          <div aria-hidden="true" class="pointer-events-none lg:absolute lg:inset-y-0 lg:max-w-7xl lg:mx-auto lg:w-full">
            <div class="absolute transform sm:left-1/2 sm:top-0 sm:translate-x-8 lg:left-1/2 lg:top-1/2 lg:-translate-y-1/2 lg:translate-x-8">
              <div class="flex items-center space-x-6 lg:space-x-8">
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8 animate__animated animate__fadeInDown">
                  <div class="w-44 h-64 rounded-lg overflow-hidden sm:opacity-0 lg:opacity-100">
                    <img src="assets/8.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/10.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8  animate__animated animate__fadeInUp">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/12.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/11.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/5.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
                <div class="flex-shrink-0 grid grid-cols-1 gap-y-6 lg:gap-y-8  animate__animated animate__fadeInDown">
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/2.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                  <div class="w-44 h-64 rounded-lg overflow-hidden">
                    <img src="assets/13.jpg" alt="" class="w-full h-full object-center object-cover">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <section class="bg-white mx-4 dark:bg-red-950 font-serif">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
<!--      <h2 class="mb-4 text-4xl tracking-tight font-normal text-center text-gray-900 dark:text-white">Designed for business teams like yours</h2>-->
<!--      <p class="text-gray-500 sm:text-xl text-center dark:text-white mb-8 lg:mb-16">Here at Flowbite we focus on markets where technology, innovation, and capital can unlock long-term value and drive economic growth.</p>-->
      <div class="flex justify-center space-y-8 md:grid md:grid-cols-2 lg:grid-cols-2 md:gap-12 md:space-y-0">
        <div>
          <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-md bg-red-50 lg:h-12 lg:w-12">
            <img src="assets/freight.svg" alt="freight"/>
<!--            <svg class="w-5 h-5 text-red-950 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 000 2v8a2 2 0 002 2h2.586l-1.293 1.293a1 1 0 101.414 1.414L10 15.414l2.293 2.293a1 1 0 001.414-1.414L12.414 15H15a2 2 0 002-2V5a1 1 0 100-2H3zm11.707 4.707a1 1 0 00-1.414-1.414L10 9.586 8.707 8.293a1 1 0 00-1.414 0l-2 2a1 1 0 101.414 1.414L8 10.414l1.293 1.293a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>-->
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Freight Forwarding</h3>
          <p class="text-red-100">We specialize in seamless freight forwarding, efficiently managing the transportation of goods across borders and modes of transport. Our dedicated team and global network ensure reliable service and streamlined logistics solutions.</p>
        </div>
        <div>
          <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-md bg-red-50 lg:h-12 lg:w-12">
            <img src="assets/warehouse.svg" alt="warehouse"/>
<!--            <svg class="w-5 h-5 text-red-950 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z"></path></svg>-->
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Warehousing & Distribution</h3>
          <p class="text-red-100">Our warehousing and distribution services provide efficient storage solutions and seamless product distribution, ensuring timely delivery and optimized supply chain operations. With state-of-the-art facilities and a dedicated team, we prioritize accuracy, reliability, and customer satisfaction.</p>
        </div>
        <div>
          <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-md bg-red-50 lg:h-12 lg:w-12">
            <img src="assets/consulting.svg" alt="consulting"/>
<!--            <svg class="w-5 h-5 text-red-950 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"></path></svg>-->
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Logistics Consulting</h3>
          <p class="text-red-100">
            Our logistics consulting services offer expert guidance and strategic insights to optimize supply chain efficiency and cost-effectiveness. We help businesses identify opportunities for improvement and implement tailored solutions for enhanced logistics performance.</p>
        </div>
        <div>
          <div class="flex justify-center items-center mb-4 w-10 h-10 rounded-md bg-red-50 lg:h-12 lg:w-12">
            <img src="assets/cleaning.svg" alt="cleaning"/>
<!--            <svg class="w-5 h-5 text-red-950 lg:w-6 lg:h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 6V5a3 3 0 013-3h2a3 3 0 013 3v1h2a2 2 0 012 2v3.57A22.952 22.952 0 0110 13a22.95 22.95 0 01-8-1.43V8a2 2 0 012-2h2zm2-1a1 1 0 011-1h2a1 1 0 011 1v1H8V5zm1 5a1 1 0 011-1h.01a1 1 0 110 2H10a1 1 0 01-1-1z" clip-rule="evenodd"></path><path d="M2 13.692V16a2 2 0 002 2h12a2 2 0 002-2v-2.308A24.974 24.974 0 0110 15c-2.796 0-5.487-.46-8-1.308z"></path></svg>-->
          </div>
          <h3 class="mb-2 text-xl font-bold dark:text-white">Outdoor Cleaning</h3>
          <p class="text-red-100">Our outdoor cleaning services provide comprehensive and professional cleaning solutions for a pristine and inviting outdoor environment. With advanced equipment and meticulous attention to detail, we ensure that your outdoor spaces are impeccably maintained and visually appealing.</p>
        </div>
      </div>
    </div>
  </section>

