<section class="relative top-0 -mt-0  md:-mt-[88px] md:static">
    <img class="w-full" src='assets/home-red-truck.png' alt="'truck'" loading="eager" />
    <div class="absolute top-8 md:top-64  left-10 lg:left-20 px-1 lg:px-4 py-3 w-4/5 md:w-5/6 2xl:w-3/5 font-sans text-white">
      <div class="bg-tagBlue w-fit px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm mb-4">Logistics & Supply
        Chain Solutions
      </div>
      <h2 class="text-xl font-bold sm:text-2xl xl:text-4xl leading-tight">Discover limitless possibilities to any destination in the
        World.</h2>

      <p class="hidden mt-6 text-xs xl:text-sm font-medium sm:mb-4 sm:block">Your premium destination for comprehensive transportation and
        logistics solutions. With an unwavering commitment to customer satisfaction and operational efficiency, we are
        dedicated to providing you with top-notch service and optimal outcomes. </p>

      <p class="hidden mt-6 text-xs xl:text-sm font-medium lg:block">Our seasoned team of experts is ready to deliver the highest
        quality of service and tailor-made solutions to
        meet all your transportation and logistics needs. We specialize in a wide range of services, including
        transportation, construction, and outdoor cleaning. </p>

      <p class="hidden mt-6 text-xs xl:text-sm font-medium mb-6 lg:block">Stay informed and connected with our daily news blog, "The 24/7hr
        Daily Beam IT Up News," exclusively
        available on our website. This unique platform offers a diverse range of perspectives from across the Transport
        & Logistics industry. Prepare to be captivated as we bring you the latest insights, trends, and innovations that
        shape our dynamic field. This is an opportunity you won't want to miss!</p>
      <app-button class="hidden sm:block" [label]="'Explore More'"  (click)="router.navigate(['/services'])"></app-button>
    </div>
</section>

<main class="font-serif">
  <div class="flex justify-center mb-4">
    <p class="w-fit bg-tagGray px-2.5 py-1 border-l-baseRed border-l-4 font-normal text-sm mb-4 mt-22">The transporters</p>
  </div>
  <div class="flex justify-center mb-10">
    <div class="px-8 md:px-24 lg:px-56">
      <h1 class="text-2xl md:text-3xl text-textPrimary font-semibold text-center mb-6">Our Team</h1>
      <p class="text-textSecondary text-xs md:text-base text-center font-medium">Our success is fueled by our exceptional team of
        diverse and talented professionals. With expertise in logistics and information technology we thrive on
        collaboration, innovation, and staying ahead of industry trends. Our team's unwavering commitment to excellence,
        combined with a client-centric approach, enables us to deliver cutting-edge solutions and exceptional value. We
        foster a supportive and inclusive work environment, empowering each team member to shine in their respective
        roles. </p>
    </div>
  </div>
  <div class="grid grid-rows-2 gap-y-10 lg:gap-y-10 bg-[url('assets/map.svg')] bg-cover bg-fixed pt-12">
    <div class="grid grid-cols-1 align-middle items-center gap-y-4 lg:grid-cols-2 lg:gap-x-4">
      <div class="flex justify-center py-10 lg:justify-end lg:items-start lg:py-0">
        <div class="relative">
          <div class="absolute left-36 top-70 w-44 py-5 px-4 bg-gradient-to-t from-baseRed via-red50 to-red25 grid grid-cols-3 gap-8 items-center">
            <a href="mailto:ngoepe600@gmail.com">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/email-dark.svg" alt="'email dark'" loading="lazy"/>
            </a>
            <a href="https://www.linkedin.com/in/koketso-ngoepe-a67bb9211/">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/linkedin-dark.svg" alt="'linkedin dark'" loading="lazy"/>
            </a>
            <a href="https://www.instagram.com/kpeace_ngoepe/">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/instagram-dark.svg" alt="'instagram'" loading="lazy"/>
            </a>
          </div>
          <img class="w-80" src="assets/profile-1.jpg" alt="'profile'" loading="lazy"/>
          <div class="bg-textPrimary text-white px-9 pt-9 pb-10">
            <p class="text-xl font-medium">Koketso Ngoepe</p>
            <p class="text-base font-light">Director, <br> Founder</p>
            <hr class="mt-6 mb-2 h-0.5 bg-cyan-950/30">
            <p class="text-center text-base pt-3 font-normal italic whitespace-break-spaces">"The secret to successful logistics
              <br>is to keep things moving." </p>
          </div>
        </div>
      </div>
      <div class="flex justify-center py-10 lg:justify-start lg:items-start lg:py-0">
        <div class="relative">
          <div class="absolute left-36 top-70 w-44 py-5 px-4 bg-gradient-to-t from-baseRed via-red50 to-red25 grid grid-cols-3 gap-8 items-center">
            <a href="mailto:mbalenhlek.13@gmail.com">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/email-dark.svg" alt="'email dark'" loading="lazy"/>
            </a>
            <a href="https://www.linkedin.com/in/mbalenhle-khokhoba-390761187/">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/linkedin-dark.svg" alt="'linkedin dark'" loading="lazy"/>
            </a>
            <a href="https://www.instagram.com/imbali.entle/">
              <img class="cursor-pointer hover:animate-bounce transition ease-in-out delay-300" src="assets/icons/instagram-dark.svg" alt="'instagram dark'" loading="lazy"/>
            </a>
          </div>
          <img class="w-80" src="assets/profile-2.jpg" alt="'profile'"/>
          <div class="bg-textPrimary text-white px-9 pt-9 pb-4">
            <p class="text-xl font-medium">Mbalenhle Khokhoba</p>
            <p class="text-base font-light">Director, <br> Software Engineer</p>
            <hr class="mt-6 mb-2 h-0.5 bg-cyan-950/30">
            <p class="text-center text-base pt-3 font-normal italic whitespace-break-spaces">"Striving to leave a legacy and
              <br>inspire the next generation of <br> leaders." </p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="flex items-center justify-center mb-76">
        <p class="text-2xl md:text-3xl text-textPrimary font-semibold">Transporting Nationwide</p>
      </div>
      <div class="flex justify-center items-center h-100 bg-transparent sm:bg-gradient-to-tr from-baseRed via-red50 to-baseRed relative">
        <div class="grid grid-cols-2 gap-y-4 md:grid-cols-4 lg:gap-10 absolute -top-28 xl:-top-56">
          <div class="h-48 w-36 lg:h-72 lg:w-56 xl:h-96 xl:w-80 bg-[url('assets/road-freight-forwarding.jpg')] bg-cover relative">
            <div class="absolute bottom-0 w-full bg-gradient-to-t from-baseBlue via-blue75 to-blue0 px-6 py-5">
              <p class="text-sm text-white lg:text-xl font-medium">Road Freight</p>
              <p class="text-xs lg:text-base text-baseRed font-medium">Contract Logistics</p>
            </div>
          </div>
          <div class="h-48 w-36 lg:h-72 lg:w-56 xl:h-96 xl:w-80 bg-[url('assets/logistics-consulting.jpg')] bg-cover bg-center relative">
            <div class="absolute bottom-0 w-full bg-gradient-to-t from-baseBlue via-blue75 to-blue0 px-6 py-5">
              <p class="text-sm text-white lg:text-xl font-medium">Logistics Consulting</p>
              <p class="text-xs lg:text-base text-baseRed font-medium">Packaging Solutions</p>
            </div>
          </div>
          <div class="h-48 w-36 lg:h-72 lg:w-56 xl:h-96 xl:w-80 bg-[url('assets/warehouse-and-distribution.jpg')] bg-cover relative">
            <div class="absolute bottom-0 w-full bg-gradient-to-t from-baseBlue via-blue75 to-blue0 px-6 py-5">
              <p class="text-sm text-white lg:text-xl font-medium">Warehouse & Distribution</p>
              <p class="text-xs lg:text-base text-baseRed font-medium">Warehouse Management</p>
            </div>
          </div>
          <div class="h-48 w-36 lg:h-72 lg:w-56 xl:h-96 xl:w-80 bg-[url('assets/outdoor-cleaning.jpg')] bg-cover relative">
            <div class="absolute bottom-0 w-full bg-gradient-to-t from-baseBlue via-blue75 to-blue0 px-6 py-5">
              <p class="text-sm text-white lg:text-xl font-medium">Outdoor Cleaning</p>
              <p class="text-xs lg:text-base text-baseRed font-medium">Expert Services</p>
            </div>
          </div>
        </div>
          <button class="bg-baseBlue py-5 px-14 text-white hover:scale-105 duration-300 mt-80  md:mt-20" (click)="router.navigate(['/services'])">Our Services</button>
      </div>
    </div>
  </div>
</main>








